.contact-top-left {
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80%;
  }

  .underline {
    border-bottom: 2px solid #000; /* Adjust the underline style */
  }
  
  .contact-links {
    text-align: center;
  }
  
  .contact-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff; /* Adjust the link color */
  }
  
  .contact-links a:hover {
    text-decoration: underline;
  }
  