/* global.css
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .pageContainer {
    width: 100%;
    height: 100%;
  }
.pageContainer{
    width: 100%;
    height: 100%;
}
.HomeContainer,
.ContactContainer,
.AboutContainer,
.SkillsContainer,
.ProjectsContainer {
  width: 100%;
  height: 100%;
  height:100vh;
}


.HomeContainer {
    background-color: rgb(98, 153, 201);
  }
.ContactContainer{
    background-color: rgb(192, 151, 98);
}
.AboutContainer{
    background-color: aqua;
}
.SkillsContainer{
    background-color: rgb(27, 204, 41);
}
.ProjectsContainer{
    background-color: rebeccapurple;
}



