.skillBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;

}

.skills-top-left {
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .underline {
    border-bottom: 2px solid #000; /* Adjust the underline style */
  }
  
.skillsection {
    flex-basis: calc(50% - 20px); /* Smaller skill boxes */
    margin: 0 0 20px;
    padding: 10px;
    background-color:linear-gradient(to bottom, #FAACA8, #DDD6F3);
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(209, 187, 187, 0.1);
    columns: 4;
}

.skillsection h2 {
    margin: 0;
    padding: 10px;
    background-color: linear-gradient(to bottom, #FAACA8, #DDD6F3);
    color: #000000;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}