.contact-top-left {
    text-align: left;
    position: relative;
    top: 20px;
    left: 20px;
    width: 80%;
  }
  .contact-container {
    color: #5D2A42;
    margin-left: 10%;
    width: 80%;
    padding: 20px;
    height: 75vh;
    margin-top: 20%;
  }
  .underline {
    border-bottom: 2px solid #5D2A42; /* Adjust the underline style */
  }
  
  .contact-links {
    text-align: center;
  }
  
  .contact-links a {
    margin-top: 10%;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #5D2A42; /* Adjust the link color */
  }
  
  .contact-links a:hover {
    text-decoration: underline;
  }
  