body{
    margin: 0;
    padding: 0;
    background-color: #FFF9EC;
    font-family: 'Montserrat', sans-serif;
}
.navbar-container {
    position: sticky;
    top: 0;
    background-color: #5D2A42;
    z-index: 100; /* Ensure the navbar is above other content */
  }

