/* socials.css */
/* socials.css */
.social-icons {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 0; /* Align to the left side of the window */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  align-items: center; /* Center icons horizontally */
  font-size: 50px; /* Adjust icon size as needed */
  z-index: 1000;
}

.social-icons img {
  height: 30px;
  margin-bottom: 10px; /* Add spacing between stacked icons */
  margin-left: auto;
  padding-left: 20px;
}

.social-icons a {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.social-icons a:hover {
  color: #000000; /* Hover color */
}
